<html lang="en">
  <title><%= title %></title>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>CLI Companion App</h1>
    <h2>
      Welcome to the CLI Companion App. Use the nav above to explore the site.
    </h2>
  </body>
</html>
