<html>
  <body>
    <h1>Create new Token</h1>
    <form action="/new" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
