<html>
  <body>
    <form method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" />
      <label for="email">New Email</label>
      <input type="text" name="email" />
      <input type="submit" />
    </form>
    <p><%= reply %></p>
  </body>
</html>
